body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0bebe
}

.App {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

.container{
  background-color:#bac4d1;
  width: 50%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 40vw; 
  overflow: auto; 
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #2980b9;
}

.quantity-button {
  background-color: #48b95b;
  border-radius: 5px;
}
.quantity-button:hover {
  background-color: #3aa04b;
}

.remove-button{
  background-color: #bd5241;
  border-radius: 5px;
}
.remove-button:hover{
  background-color: #922d0e;
}

.quantity-block{
  display: flex;
}